// app global css in SCSS form

p {
  margin: 0;
}

////
.title {
  font-size: 22px;
  margin-bottom: 4px;
}
.details-popup {
  max-height: 200px;
}
.border-grey {
  border-color: #fefefe;
}
.text-17 {
  font-size: 17px;
}
.text-18 {
  font-size: 18px;
}
.text-19 {
  font-size: 19px;
}
.text-20 {
  font-size: 20px;
}
.text-21 {
  font-size: 21px;
}
.text-22 {
  font-size: 22px;
}
.text-23 {
  font-size: 23px;
}
